<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iTag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9F602C41BCCE4E10008B52D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9F602E01BCCE4E10008B52D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9F602EB1BCCE4E10008B52D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
